<%= render('style') %>
<div class="seccion2">
	<%= render('menuDer') %>
	<div class="span-14">
		<h3>Que esta pasando?</h3>
		<%= form_for(:comentario, :url => {:controller => 'comentarios', :action => 'create'}) do |f| %>
		<div id="formHeader">
			<%= f.text_area :nombre, :class => "signup_button round", :id => "twittear", :maxlength => "140", :onKeyDown => "cuenta()", :onKeyUp => "cuenta()"  %>

			<%= f.submit :class => "round", :id => "buttonTwitter" , :value => 'Twittear'  %>
			<input type="text" name='caracteres' id="caracteresTwitter" readonly="readonly">
		</div>
		<% end %>
		<div >
			<p id="notice">
				<%= notice %>
			</p>
<%= render ('tablas') %>
		</div>
	</div>
</div>
<script>
function cuenta() {
document.getElementById("caracteresTwitter").value=document.getElementById("twittear").value.length
}
</script>
