<%= render('style') %>
<div class="seccion2">
	<div class="span-7">
		<div id = "perfil">
			<h3 class="fotonombre"><%= link_to "@" + @user, user_path(@user) %></h3><div id="foto"></div>
		</div>
		<div class="submenu">
			<h4 align="center">Seguidores</h4>
			<ul>
				<% @seguidores.each do |segui| %>
				<li>
					<a><%= link_to "@" + segui.seudonimo, user_path(segui.seudonimo) %> (<%= segui.nombre %>)</a>
				</li>
				<% end %>
			</ul>
		</div>
		<div class="submenu">
			<h4 align="center">Siguiendo</h4>
			<ul>
				<% @siguiendo.each do |segui| %>
				<li>
					<a><%= link_to "@" + segui.seudonimo, user_path(segui.seudonimo) %> (<%= segui.nombre %>)</a>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="span-14">
		<div id="formperfil">
			<div id="imagenPerfil"></div>
			<div id ="informacion">
				<h2><%= @usuario.nombre %></h2>
				<p>
					<b>@<%= @usuario.seudonimo %></b> <%= @usuario.zonah %>
				</p>
				<p>
					<%= @usuario.biografia %>
				</p>
				<% if session[:nombre] == @user %>
				<%= link_to "editar perfil", edit_usuario_path(@usuariosession.id) %>
				<% elsif !(session[:nombre].nil?) %>
				<% if @seguido == true %>
				<%= form_for(:user, :url => {:controller => 'users', :action => 'save'}) do |f| %>
				<%= f.hidden_field :seudonimo, :value => @user %>
				<%= f.submit :class => "round" , :value => 'Seguir' %>
				<%end%>
				<%else%>
				<%=form_for(:user, :url => {:controller => 'users', :action => 'destroy'}) do |f|%>
				<%= f.hidden_field :seudonimo, :value => @user%>
				<%=  f.submit :class => "round" , :value => 'Dejde seguir'%>
				<%end%>
				<%end %>

				<%end %>
			</div>
		</div>
		<div >
			<p id="notice">
				<%= notice %>
			</p>
			<table width="80%">
				<% @comentarios.each do |comen| %>
				<tr align="Center">
					<td><b><%= comen.seudonimo %></b> <%= comen.nombre %></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"><%= comen.comentario %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
<script>
function cuenta() {
document.getElementById("caracteresTwitter").value=document.getElementById("twittear").value.length
}
</script>
