<%= render('style') %>
<div class="seccion2">
	<%= render('menuDer') %>
	<div class="span-14">
		<div id="formperfil">
			<div id="imagenPerfil"></div>
			<div id ="informacion">
				<h2><%= @usuario.nombre %></h2>
				<p>
					<b>@<%= @usuario.seudonimo %></b> <%= @usuario.zonah %>
				</p>
				<p>
					<%= @usuario.biografia %>
				</p>
				<% if session[:nombre] == @user %>
				<%= link_to "editar perfil", edit_usuario_path(@usuariosession.id) %>
				<% elsif !(session[:nombre].nil?) %>
				<% if @seguido == true %>
				<%= form_for(:user, :url => {:controller => 'users', :action => 'save'}) do |f| %>
				<%= f.hidden_field :seudonimo, :value => @user %>
				<%= f.submit :class => "round" , :value => 'Seguir' %>
				<%end%>
				<%else%>
				<%=form_for(:user, :url => {:controller => 'users', :action => 'destroy'}) do |f|%>
				<%= f.hidden_field :seudonimo, :value => @user%>
				<%=  f.submit :class => "round" , :value => 'Dejde seguir'%>
				<%end%>
				<%end %>

				<%end %>
			</div>
		</div>
		<div >
			<p id="notice">
				<%= notice %>
			</p>
<%= render ('tablas') %>
		</div>
	</div>
</div>

