<%= form_for(@usuario) do |f| %>
<% if @usuario.errors.any? %>
<div id="error_explanation">
	<ul>
		<% @usuario.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="span-14" id="updates">
	<table width="80%">
		<tr>
			<td width="150px"> <%= f.label :nombre %> </td>
			<td> <%= f.text_field :nombre, :readonly =>true, :id=> 'nombre' %> </td>
		</tr>
		<tr>
			<td> <%= f.label :seudonimo %> </td>
			<td> <%= f.text_field :seudonimo %> </td>
		</tr>		
		<tr>
			<td> <%= f.label :biografia %> </td>
			<td> <%= f.text_area :biografia %> </td>
		</tr>
		<tr>
			<td> <%= f.label :idioma %>
			<br />
			</td>
			<td> <%= f.text_field :lenguaje %> </td>
		</tr>
		<tr>
			<td> <%= f.label :Pagina_web %>
			<br />
			</td>
			<td> <%= f.text_field :web %> </td>
		</tr>
		<tr>
			<td> <%= f.label :zonah %>
			<br />
			</td>
			<td> <%= select_tag :zonah, options_for_select(@paises, "Venezuela") %> </td>
		</tr>
		<tr>
			<td></td><td><%= f.submit :id=> 'button', :value => 'Enviar' %></td>
		</tr>
	</table>
</div>
<%end%> 