<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :seudonimo %><br />
    <%= f.text_field :seudonimo %>
  </div>
  <div class="field">
    <%= f.label :biografia %><br />
    <%= f.text_area :biografia %>
  </div>
  <div class="field">
    <%= f.label :web %><br />
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :lenguaje %><br />
    <%= f.text_field :lenguaje %>
  </div>
  <div class="field">
    <%= f.label :foto %><br />
    <%= f.text_field :foto %>
  </div>
  <div class="field">
    <%= f.label :zonah %><br />
    <%= f.text_field :zonah %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
