<%= form_for(@usuario) do |f| %>
<% if @usuario.errors.any? %>
<div id="error_explanation">
	<%= pluralize(@usuario.errors.count, "Errores") %>
	<ul>
		<% @usuario.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :nombre %>
	<br />
	<%= f.text_field :nombre  %>
</div>
<div class="field">
	<%= f.label :seudonimo %>
	<br />
	<%= f.text_field :seudonimo %>
</div>
<div class="field">
	<%= f.label :password %>
	<br />
	<%= f.password_field :pass %>
</div>
<div class="actions">
	<%= f.submit :class => "signup_button round"  %>
</div>
<% end %> 