<div class="span-7">
	<div id = "perfil">
		<h3 class="fotonombre"><%= link_to "@" + @usuario.seudonimo, user_path(@usuario.id) %></h3><div id="foto"></div> 
	</div>
	<div class="submenu">
		<h4 align="center">Menu</h4>
		<ul>
			<li><%= link_to "Cuenta", edit_usuario_path(@usuario.id) %></li>
			<li><%= link_to "Perfil", perfil_path(@usuario.id) %></li>
			<li><%= link_to "Contrasena", edit_usuario_path(@usuario.id) %></li>
			<li><%= link_to "Diseno", edit_usuario_path(@usuario.id) %></li>
		</ul>
</p>
	</div>
	<div class="submenu">
		<h4 align="center">Cuenta</h4>
<p>Desde aqu&#237 puedes cambiar la informaci&#243n b&#225sica de tu cuenta, tu configuraci&#243n de idioma, y tus preferencias de ubicaci&#243n y de privacidad de los Tweets.</p>

	</div>
</div>

