<%= render('users/style') %>
<div class="seccion2">
	<h1>Configuracion</h1>
	<div class="editar">
	<%= render('menuDer') %>
	<div id="formperfil">
			<div id="imagenPerfil"></div>
			<div id ="informacion2">
				<h2><%= @usuario.nombre %></h2>
				<%= form_tag(:saveFoto ,:multiple => true ) do |f| %>
				<p>
					<%= file_field_tag 'file', :accept => 'image/jpeg', :multiple => true %>
				</p>
				<p>
					<%= submit_tag "Subir foto" %>
				</p>
				

				<%end %>
			</div>
		</div>
	
	<%= link_to 'Atras', user_path(@usuario.seudonimo) %>
	</div>
</div>


