<header>
	<%= link_to logo, root_path, :class => "logo" %>
	<nav class="round">
		<% if session[:nombre].nil? %>
		<%= form_for(:pages, :url => {:controller => 'pages', :action => 'validar'}) do |f| %>
		<div id="formHeader">
			<ul>
				<li>
					<%= f.text_field :nombre, :class => "signup_button round" , :placeholder => "Usuario"  %>
				</li>
				<li>
					<%= f.password_field :pass, :class => "signup_button round" , :placeholder => "Password"  %>
				</li>
				<li>
					<%= f.submit :class => "round" , :value => 'Enviar'  %>
				</li>
			</ul>
		</div>
	</nav>
	<% end %>
	<%
	else%> </nav>
	<div class="menu-holder">
		<ul id="nav">
			<%= form_for(:pages, :url => {:controller => 'pages', :action => 'validar'}) do |f| %>
			<div id ="Search">
				<li>
					<%= f.text_field :nombre, :class => "signup_button round", :id =>"box" , :placeholder => "Buscar"  %>
					<%= f.submit :class => "round" ,:id => "btn", :value => ''  %>
				</li>
			</div>
			<% end %>
			<li class="first">
				<a href="<%= time_path %>">Inicio</a>
			</li>
			<li>
				<a href="<%= user_path(session[:nombre]) %>">Perfil</a>
			</li>
			<li>
				<a href="">configuracion</a>
			</li>
			<li id="cerrar">
				<a href="<%= root_path %>">@<%=session[:nombre]%> (salir)</a>
			</li>
		</ul>
	</div>
	<% end %>
</header>

