<header>
	<%= link_to logo, root_path, :class => "logo" %>
	<nav class="round">
		<% if session[:nombre].nil? %>
		<%= form_for(:pages, :url => {:controller => 'pages', :action => 'validar'}) do |f| %>
		<div id="formHeader">
			<ul>
				<li>
					<%= f.text_field :nombre, :class => "signup_button round" , :placeholder => "Usuario"  %>
				</li>
				<li>
					<%= f.password_field :pass, :class => "signup_button round" , :placeholder => "Password"  %>
				</li>
				<li>
					<%= f.submit :class => "round" , :value => 'Enviar'  %>
				</li>
			</ul>
		</div>
		<% end %>
		<%
		else
		%> dsdds <%
		end %>
	</nav>
</header>